TOKEN=
ADMINISTRATORS=[123456789]

POSTER_TOKEN=
POSTER_BONUS_MULT=100
WELCOME_BONUS_UAH=50
BIRTHDAY_BONUS_UAH=20
ANNUAL_BIRTHDAY_BONUS_UAH=50
REFERRAL_BONUS_UAH=10
REFERRAL_MIN_CASH_UAH=50
REFERRAL_PURCHASE_WINDOW_DAYS=30
REFERRAL_INVITE_TTL_DAYS=30
REFERRAL_REWARD_VALID_DAYS=30
REFERRAL_DAILY_AUTO_LIMIT=5
QUEST_VISITS_REWARD_UAH=15
QUEST_COMBO_REWARD_UAH=15
QUEST_DRINKS_REWARD_UAH=15
ACH_DAYS_5_REWARD_UAH=10
ACH_DAYS_15_REWARD_UAH=20
ACH_DAYS_30_REWARD_UAH=30
QUEST_WINDOW_DAYS=14
CASHBACK_PERCENT=1

WEBAPP_URL=https://craftcoffee.telebots.site
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8080
WEBAPP_DEV=0

BOT_USERNAME=CraftCoffee_Kyiv_Bot
POSTER_APP_SECRET=
MAPS_URL=

LOYALTY_CRON_ENABLED=1
LOYALTY_CRON_INTERVAL_SEC=60
LOYALTY_CRON_LOOKBACK_DAYS=2
