TOKEN=
ADMINISTRATORS=[123456789]

POSTER_TOKEN=
POSTER_CLIENT_GROUP_ID=1
POSTER_BONUS_MULT=100
WELCOME_BONUS_UAH=50
CASHBACK_PERCENT=5

WEBAPP_URL=https://craftcoffee.telebots.site
WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8080
WEBAPP_DEV=0

BOT_USERNAME=CraftCoffee_Kyiv_Bot
POSTER_APP_SECRET=
MAPS_URL=

LOYALTY_CRON_ENABLED=1
LOYALTY_CRON_INTERVAL_SEC=60
LOYALTY_CRON_LOOKBACK_DAYS=2
